body{
    background-color: #121212;
    color: #FFFFFF;
}

.lobby-connect, .lobby-create{
    max-width: 450px;
    margin-left:auto;
    margin-right: auto;
}

.lobby-connect button, .lobby-connect input, .lobby-create button, .lobby-create input{
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.lobby-connect button:hover, .lobby-connect input:hover, .lobby-create button:hover, .lobby-create input:hover{
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
}

.vertical-spacer-m{
    height: 75px;
}

.account-sidebar{
    width: 100%;
    position: fixed;
    top:0px;
    background-color: rgb(12, 16, 19);
    color: white;
    text-align: right;
}

.account-sidebar ul{
    
    margin: 10px;
}

.account-sidebar ul li{   
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.account-sidebar .btn{   
    color: white;
}

#list-playlist{
    background-color: #181818;
    height: calc(100vh - 300px);
    overflow-y: scroll;
}

.playlist-song{
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    border-bottom: 1px solid #393434;
}

.playlist-song .playing{
    color: #1DB954;
}

.playlist-song:hover{
    background-color: #393434;
}
.results{
    color: #FFFFFF;
    background-color: #2e2e2e;
    width: calc(100vw - 100px);
    margin-left:50px;
    display: none;
    overflow-y: scroll;
}
.playback-container{
    width:100%;
    background-color: #282828;
    margin-bottom: 20px;

}
.playback{
    color: #b3b3b3;
    display: flow-root;
}

.playlist-container{
margin-top: 20px;
}

.playback button{
    background: none;
	color: inherit;
	border: none;
    padding: 20;
    scale: 2;
	font: inherit;
	outline: inherit;
}
.results button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.results-expanded{
    position: absolute;
    top: 100px;
    height: calc(100vh - 120px);
    display: block;
    border-radius: 0px 0px 5px 5px;

}
.search-input{
    color: #1DB954; max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    background-color: #282828;
    border-radius: 5px;
}
.search-input-expanded{
    width: calc(100vw - 100px);
    max-width: 100vw;
    position: absolute;
    top: 50px;
    background-color: #2e2e2e;
    width: calc(100vw - 120px);
    margin-left:50px;
    border-radius: 5px 5px 0px 0px;

}

.search-fade{
    background-color: rgba(0, 0, 0, 0.5) ;
    display: none;
}

.search-fade-expanded{
    display: block;
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    bottom: 0px;
}

.track{
    padding: 10px;
    border-bottom: 1px solid #393434;
}

.track :hover button{
    color: #1DB954;
}

.web-playback{

}

.dummy-playback{

}