.lobby-connect, .lobby-create{
    max-width: 450px;
    margin-left:auto;
    margin-right: auto;
}

.lobby-connect button, .lobby-connect input, .lobby-create button, .lobby-create input{
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.lobby-connect button:hover, .lobby-connect input:hover, .lobby-create button:hover, .lobby-create input:hover{
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
}

.vertical-spacer-m{
    height: 75px;
}

.account-sidebar{
    width: 100%;
    position: fixed;
    top:0px;
    background-color: rgb(12, 16, 19);
    color: white;
    text-align: right;
}

.account-sidebar ul{
    
    margin: 10px;
}

.account-sidebar ul li{   
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.account-sidebar .btn{   
    color: white;
}

.list-playlist{
    background-color: #191414;
}

.playlist-song{
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    border-bottom: 1px solid #393434;
}

.playlist-song .playing{
    color: #1DB954;
}

.playlist-song :hover{
    background-color: #393434;
}

.results button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.results-expanded{
    position: absolute;
    top: 0px;
}
.search-input{
    color: #1DB954; 
}
.search-input-expanded{
    position: absolute;
    top: 50px;
    background-color: #191414;
    width: calc(100vw - 20px);
    margin-left:10px;
    margin-right:10px;
    

}

.track{
    padding: 10px;
    border-bottom: 1px solid #393434;
}

.track :hover button{
    color: #1DB954
}

.web-playback{

}

.dummy-playback{

}