<div class="account-sidebar">
    <ul>
        <li><i class="fas fa-user-circle"></i> <span id="user-me-id"></span></li>
    
        <li><span id="user-me-email"></span></li>
    
        <li><a href="/logout">Log Out</a></li>
    </ul>
</div>
<script>
    
    console.log(access_token);

    $( document ).ready( function(){
       $.ajax({
        url: 'https://api.spotify.com/v1/me',
        headers: {
            'Authorization': 'Bearer ' + access_token,
            'Content-Type': 'application/json'
        }
        }).done(function (data) {
            console.log(data);
            $('#user-me-id').text(data.display_name);
            $('#user-me-email').text(data.email);

        });
    });
    
</script>