<div class="lobby-create">
    <h3>Create a room</h3>
<p>Enter the room name and password and start playing music collaboratively from this device.</p>
<input id="txt-create-room-name" type="text" class="form-control" placeholder="Room Name"/><br>
<input id="txt-create-room-password" type="password" class="form-control" placeholder="Room Password" /><br>
<button id='btn-create-room'class="btn">Create Room</button>
</div>

<script>
    $("#btn-create-room").bind('click', function(){
        var roomName = $('#txt-create-room-name').val();
        var roomPassword = $('#txt-create-room-password').val();
        $.ajax({
            url: '/createRoom',
            dataType: 'json',
            headers: {
                'Content-Type':'application/json'
            },
            data: {
                'roomName': roomName,
                'roomPassword': roomPassword,
                'userAccessToken': `{{access_token}}`
            }
        }).done(function(data) {
            console.log(data);
            
            if(data.error){
                //display error
            }else{
                //join new room
                window.location = "/room";
            }
        });
    });
</script>