<div class="lobby-connect">
<input type="text"  id="txt-join-room-name"class="form-control" placeholder="Room Name"/><br>
<input type="password" id="txt-join-room-password" class="form-control" placeholder="Room Password"/><br>
<button class="btn btn-primary" id="btn-join-room">Join Room</button>
</div>

<script>
    $("#btn-join-room").bind('click', function(){
        var roomName = $('#txt-join-room-name').val();
        var roomPassword = $('#txt-join-room-password').val();
        $.ajax({
            url: '/joinRoom',
            dataType: 'json',
            headers: {
                'Content-Type':'application/json'
            },
            data: {
                'roomName': roomName,
                'roomPassword': roomPassword,
                'userAccessToken': `{{access_token}}`
            }
        }).done(function(data) {
            console.log(data);
            
            if(data.error){
                //display error
            }else{
                //join new room
                window.location = "/room";
            }
        });
    });
</script>