<div id="list-playlist">

</div>

<script>
    socket.bind('room-playlist-updated', function(data){
        UpdatePlaylist(data);
    });

    function UpdatePlaylist(data){
        console.log(data);

<<<<<<< HEAD
        $('#list-playlist').html("");
=======
        $('#list-playlist').html('');
>>>>>>> 200337f09c41d0754c3cc9afb78d7f6d7abc1940
        $.each(data.playlist, function (index, song) {
            var userHTML = ` <div class="playlist-song" onclick="PlayPlaylistTrack('`+ song.uri +`')">`+ song.title +`</div>`;

                $('#list-playlist').append(userHTML);


        });
    }

</script>