<div class="playlist-container">
<h4>Collaborative Queue</h4>
<div id="list-playlist">

</div>
</div>

<script>
    socket.bind('room-playlist-updated', function(data){
        UpdatePlaylist(data);
    });

    //on load send get room playlist request
    $( document ).ready(function() {
            socket.send( 'room-get-songs', { room_id: '{{room_id}}'});       
}   );
    
    function UpdatePlaylist(data){
        console.log(data);


        $('#list-playlist').html('');
        $.each(data.playlist, function (index, song) {
            var userHTML = ` <div class="playlist-song" onclick="PlayPlaylistTrack('`+ song.uri +`')">`+ song.title +  
                    `<button onclick="removeSongToPlaylist( '`+ track.id +`')" > <i class="fas fa-plus"></i> </button>

                    </div>`;//////////////////////////
                
                $('#list-playlist').append(userHTML);


        });
    }

    function removeSongToPlaylist(track_id){
        socket.send( 'room-song-remove', {room_id: '{{room_id}}' ,song_id: track_id});
    }

</script>