<button id="btn-test">test</button>
<div id="list-playlist">

</div>

<script>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

    $("#btn-test").bind('click', function () {

           var trackHtml =` <div>
                                <button></button>
                            </div>`;

        $.ajax({
        url: '/addSong',
        headers: {
            'Content-Type': 'application/json'
        }
        }).done(function (data) {
            $.each(data, function (index, user) {
                var userHTML = ` <span>`+ songID +`</span> `;

                    $('#user-list').append(userHTML);


            });
        });

               
            $('#list-playlist').append(trackHtml);
            
           
        });

=======
    socket.bind('room-playlist-updated', function(data){
        UpdatePlaylist(data);
    });

    function UpdatePlaylist(data){
        console.log(data);

        $('#list-playlist').html();
        $.each(data.playlist, function (index, song) {
            var userHTML = ` <div class="playlist-song" onclick="PlayPlaylistTrack('`+ song.uri +`')">`+ song.title +`</div>`;

                $('#list-playlist').append(userHTML);


        });
    }
>>>>>>> 2a7607682963a5fa5a60a92bd27f932e0d3acd72

=======
    
>>>>>>> parent of 2a76076... Added playlist track playback
=======
    
>>>>>>> parent of 2a76076... Added playlist track playback
</script>