<h4>Users</h4>
<div id="user-list"></div>

<script>
    socket.bind('room-usersUpdated', function(data){
        UpdateUserList(data);
        console.log("Update Users List");
    });

    function UpdateUserList(users){
        $('#user-list').html("");

        $.each(data, function (index, user) {
            var userHTML = ` <span>`+ user +`</span> `;

                $('#user-list').append(userHTML);


        });
    }
</script>