<h4>Users</h4>
<div id="user-list"></div>

<script>
<<<<<<< HEAD
    $( document ).ready( function(){
       
    });
=======
    socket.bind('room-users-updated', function(data){
        UpdateUserList(data);
        console.log("Update Users List");
    });

    function UpdateUserList(users){
        $('#user-list').html("");
            console.log(users);

        $.each(users, function (index, user) {
            console.log(user);
            var userHTML = ` <span>`+ user +`</span> `;

                $('#user-list').append(userHTML);


        });
    }
>>>>>>> 2a7607682963a5fa5a60a92bd27f932e0d3acd72
</script>